{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Django app</title>
  </head>
  <body>
    <nav>
      {% if request.user.is_authenticated %}
      <ol>
        <a href="{% url 'home' %}"><li>inicio</li></a>
        <a href="{% url 'cursos' %}"><li>cursos</li></a>
        <a href="{% url 'puntajes' %}"><li>Puntajes</li></a>
      </ol>
      <ol>
        {{request.user}}
        <a href="{% url 'logout' %}"><li>Salir</li></a>
      </ol>
      {% endif %}
    </nav>
    {% block content %} {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
