{% extends 'bases/base_docente.html' %} {% load static %}
<!---->

{% block head %}
<title>Home - ED Courses</title>
<script defer src="{% static 'js/home.js' %}"></script>
{% endblock %}
<!---->

{% block header %}
<h1>Inicio</h1>
<div></div>
{% endblock %}
<!---->

{% block content %}

<section class="cards-grid">
  <!-- Falta Poner que cuando no hay ningun alumno en el curso salga un mensaje o algo -->
  {% for curso in cursos %}
  <a class="card" href="{% url 'tarea' curso.nombre_curso %}">
    <img
      class="card__image"
      src="{{curso.img_curso.url}}"
      width="75"
    />
    <p class="card__title">{{curso.nombre_curso}}</p>
    <p class="card__description">{{curso.descripcion_curso}}</p>

  </a>
  {% endfor %}
</section>

{% endblock %}
