<!---->
{% extends 'bases/base.html' %}
<!---->
{% block content %}
<!---->
{% for tarea in tareas %}
<div style="border: 1px solid black" id="openModalBtn">
  <p>{{tarea.id_tarea.titulo_tarea}}</p>
  <p>{{tarea.id_tarea.descripcion_tarea}}</p>
  <p>{{tarea.estado}}</p>
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>{{tarea.id}}</p>
    <p>{{tarea.id_tarea.titulo_tarea}}</p>
    <p>{{tarea.id_tarea.descripcion_tarea}}</p>
    <p>{{tarea.estado}}</p>
    <form action="{% url 'enviar_tarea' %}" method="post">
      {% csrf_token %}
      <input name="id" type="hidden" value="{{tarea.id}}" />
      <input type="file" name="pdf_file" accept=".pdf" />

      {% if tarea.estado == "Entregado" %}
      <!---->
      {% if tarea.puntos_hechos is None %}
      <p>no corregido</p>
      {% else %}
      <p>{{tarea.puntos_hechos}} de {{tarea.id_tarea.puntos}}</p>
      {% endif %}

      <button disabled>Subir Tarea</button>
      {% else %}
      <button>Subir Tarea</button>
      {% endif %}
    </form>
  </div>
</div>
{% endfor %} {% endblock content %}

<!---->
